training{
    numgpus: 4
    training_steps: 80
    eval_after_steps: 100
    numclasses : 4
    learning_rate: 0.001
    basepath : "/data/stars/user/uujjwal/last_6_months/sam-infra"
     momentum: 0.99
     data_info{
        train_data{
            csv_list_glob: "/data/stars/user/uujjwal/last_6_months/sam-infra/Archive/train_data.csv"
            cache_dir: "./tmp/training"
            batch_size: 32
        }
        val_data{
            csv_list_glob: "/data/stars/user/uujjwal/last_6_months/sam-infra/Archive/test_data.csv"
            cache_dir: "./tmp/testing"
            batch_size: 32
        }
     }

}