training{
    numgpus: 4
    training_steps: 20000
    eval_after_steps: 10
    numclasses : 10
    learning_rate: 0.001
    basepath : "/data/stars/user/uujjwal/last_6_months/upwork/anand"
     momentum: 0.99
     data_info{
        train_data{
            tfrecord_list_glob: "/data/stars/user/uujjwal/last_6_months/upwork/anand/utils/mnist_training/*"
            num_parallel_reads: 10
            cache_dir: "./tmp/training"
            batch_size: 32
        }
        val_data{
            tfrecord_list_glob: "/data/stars/user/uujjwal/last_6_months/upwork/anand/utils/mnist_testing/*"
            num_parallel_reads: 10
            cache_dir: "./tmp/testing"
            batch_size: 32
        }
     }

}